<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Note Application Example</title>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
	<script src="./js/lib/jquery-min.js"></script>
	<script src="./js/lib/underscore-min.js"></script>
	<script src="./js/lib/backbone-min.js"></script>
	<script src="./js/lib/backbone.localStorage-min.js"></script>
	<script src="./js/app.js"></script>
	<script src="./js/models.js"></script>
	<script src="./js/container.js"></script>
	<script src="./js/note_list_item.js"></script>
	<script src="./js/note_list.js"></script>
	<script src="./js/note_detail.js"></script>
	<script src="./js/router.js"></script>
	<script src="./js/note_control.js"></script>
	<script src="./js/note_form.js"></script>
</head>
<body>
	<div id="header">
		<div class="navbar navbar-default navbar-static-top">
			<div class="navbar-inner">
				<div class="container">
					<span class="navbar-brand">
						<a href="./index.html#notes">
							Note Application Example
						</a>
					</span>
				</div>
			</div>
		</div>
	</div>	
	<div id="main" class="container">
		<div id="header-container"></div>
		<div id="main-container"></div>
	</div>
	<!--
		メモ一覧を表示する <table> 要素のためのテンプレート
		<table> 要素自体は Backbone.View が生成する
	-->
	<script type="text/template" id="noteListView-template">
		<thead>
			<th class="col-md-2" colspan="2">Title</th>
		</thead>
		<!-- この <tbody> 要素配下に個々のメモ情報を挿入する -->
		<tbody class="js-noteListItemView-container"></tbody>
	</script>
	<!--
		個々のメモ情報を表示する <tr> 要素のためのテンプレート
		<tr> 要素自体は Backbone.View が生成する
	-->
	<script type="text/template" id="noteListItemView-template">
		<td>
			<a href="#notes/<%= id %>">
				<%= title %>
			</a>
		</td>
		<td>
			<div class="text-right">
				<a href="#notes/<%= id %>/edit" class="btn btn-default btn-sm js-edit">
					<span class="glyphicon glyphicon-edit"></span>
					Edit
				</a>
				<a href="#" class="btn btn-danger btn-sm js-delete">
					<span class="glyphicon glyphicon-remove"></span>
					Delete
				</a>
			</div>
		</td>
	</script>
	<!-- メモの詳細情報を表示するテンプレート -->
	<script type="text/template" id="noteDetailView-template">
		<h2><%= title %></h2>
		<p><%= body %></p>
	</script>
	<!-- メモ新規追加ボタンのテンプレート -->
	<script type="text/template" id="noteControlView-template">
		<div class="row">
			<div class="col-sm-6">
				<!-- あとで検索欄を置く -->
			</div>
			<div class="col-sm-6 text-right">
				<a href="#new" class="btn btn-primary btn-small js-new">
					<span class="glyphicon glyphicon-plus"></span>
					New Note
				</a>
			</div>
		</div>
	</script>
	<script type="text/template" id="noteForm-template">
		<form>
			<div class="form-group">
				<label for="noteTitle">Title</label>
				<input type="text" id="noteTitle" class="form-control js-noteTitle" value="<%= title %>">
			</div>
			<div class="form-group">
				<label for="noteBody">Body</label><textarea rows="8" class="form-control js-noteBody"><%= body %></textarea>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</script>
</body>
</html>