<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
	   <typeAlias alias="Pet" type="org.yukung.sandbox.sample.biz.domain.Pet" />
	   <typeAlias alias="Owner" type="org.yukung.sandbox.sample.biz.domain.Owner" />
	</typeAliases>
</configuration>