<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>顧客一覧</title>
</head>
<body>
<table>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}">100</td>
        <td th:text="${customer.lastName}">山田</td>
        <td th:text="${customer.firstName}">太郎</td>
        <td>
            <form th:action="@{/customers/edit}" method="get">
                <input type="submit" name="form" value="編集"/>
                <input type="hidden" name="id" th:value="${customer.id}"/>
            </form>
        </td>
        <td>
            <form th:action="@{/customers/delete}" method="post">
                <input type="submit" value="削除"/>
                <input type="hidden" name="id" th:value="${customer.id}"/>
            </form>
        </td>
    </tr>
</table>
</body>
</html>